.wager-list {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
  
.wager-card {
  height: 8rem;
  width: 48rem;
  padding: 1rem;
  border: 1px solid #d4d3d3;
  border-radius: 8px;
}

.terms-box {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #ccc;
  padding: 10px;
  font-family: sans-serif;
}

hr {
  border-top: 0px solid #d7d7d7;
}

  
.blog-card-image {
  padding: 1rem;
  width: 11rem;
  height: 11rem;
  flex-shrink: 0;
}
  
.blog-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featured-card-content {
  height: 35rem;
  padding-bottom:1rem;
  flex-grow: 1;
}

.blog-card-content {
  height: 11rem;
  padding-top:1rem;
  padding-bottom:1rem;
  flex-grow: 1;
}

.blog-card-title {
  margin: 0 0 0.5rem 0;
}
  
.blog-card-subtitle {
  margin: 0 0 0.2rem 0;
}

.blog-card-stats {
  margin: 0;
}

.relative {
  position: relative;
}

.title-bar {
  flex:1;
}

.full-height {
  height: 100%
}

.stats-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  opacity: 0;
  transition: opacity 0.3s ease;
}

.featured-card-content:hover .stats-bar {
  opacity: 1;
}

.blog-card-content:hover .stats-bar {
  opacity: 1;
}

/*
.featured-card-content:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

.blog-card:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}
*/