
@font-face {
    font-family: 'Plantin';
    src: url('/fonts/Plantin.woff2') format('woff2'),
         url('/fonts/Plantin.woff') format('woff');
    font-weight: 100 200 300 400 500 600 700 800 900;
    font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/InterVariable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Mono';
  src: url('/fonts/SpaceMono-Regular.woff2') format('woff2');
  /*font-weight: 100 200 300 400 500 600 700 800 900;*/
  font-weight: 100 200 300 400 500 600 700 800 900;
  font-style: normal;
}

@font-face {
  font-family: 'Space Mono Bold';
  src: url('/fonts/SpaceMono-Bold.woff2'); /* format('woff2');*/
  font-weight: normal; /*100 200 300 400 500 600 700 800 900;*/
  font-style: normal;
}

/* Navbar Headline */
h1 {
  display: inline-block;
  font-family:'Plantin', serif;
  font-weight:300;
  letter-spacing:0.05rem;
  font-size: 52px;
  /*line-height: normal;*/
  color:var(--color-black);
  margin: auto 0;
}

/* Splash Page */
/* probably temporary */
h1.splash {
  font-size: 5rem;
  line-height: 0.8;
}

@media (max-width:700px) {
  h1.splash {
    font-size: 2rem;
  }
}

/* Entry Title */
h2 {
  font-family:'Space Mono';
  font-weight:400;
  font-size: 36px;
  line-height: 1.8rem;
  color:var(--color-black);
  margin: auto 0;
}

/* Chapter Heading */
h3 {
  font-family:'Space Mono';
  font-size: 24px;
  color:var(--color-black);
  margin: auto 0;

  /*font-weight:300;
  display: inline-block;
  letter-spacing:0rem;
  line-height: 0;*/
}

/* Text */
h4 {
  font-family:'Space Mono';
  font-size: 14px;
  color:var(--color-darkgrey);
  line-height: 0.1;
  font-weight: 400;
  /*text-decoration: none;*/
}

/* Stats */
h5 {
  font-family:'Space Mono';
  font-size: 1.75rem;
  color:var(--color-darkgrey);
  /*text-decoration: none;*/
}

/* Footer */
h6 {
  font-family:'Inter';
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  letter-spacing:.04rem;
  color:var(--color-darkgrey);
  margin: auto 0;
}

@media (max-width:700px) {
  h6.splash {
    font-size: 10px;
  }
}



/* Body */
blockquote p {
  font-family:'Plantin Italic', serif;
  font-size: 1.35rem;
  line-height: 1.75rem;
  color:var(--color-darkgrey);
}

p {
  font-family:'Plantin', serif;
  font-size: 1.3rem;
  line-height: 2rem; /*previously 1.65*/
  text-align: justify; /* newspaper justification*/
  color:var(--color-black);
}

em {
  font-style: normal /*previously 1.65*/
}

strong {
  font-family:'Plantin Bold';
}

li > p {
  font-size: 1.2rem;
  line-height: 1.4rem;
  color:var(--color-darkgrey);
}

a {
  color:var(--color-darkgrey);
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

a > h2 {
  color:var(--color-darkgrey);
}

a > h2.active {
  color:var(--color-black);
}

/*
a > h1:hover {
  color:var(--color-powder);
}

a > h2:hover {
  color:var(--color-powder);
}

a > h6:hover {
  color:var(--color-powder);
}
*/

/*
q {
  font-family:'EB Garamond', serif;
  font-size: 1.38rem;
  font-style: italic;
  color:var(--color-grey);
}
*/

/*
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
  font-size: smaller;
}
*/

/*
h2.bold{
  font-weight: 600;
}

h3.bold{
  font-weight: 600;
}

h6:hover{
  color:var(--color-powder);
}

h6.bold{
  font-weight: 600;
}
*/

/*
p.tab{
  margin-block-start:0;
  margin-block-end:0;
  font-family:'EB Garamond', serif;
  font-weight: 300;
  letter-spacing:0.05rem;
  font-size: 1.41rem;
  font-style: italic;
  line-height: 2.4rem;
  margin-left:60px;
}
*/

/*
a:visited {
  color:var(--color-black);
}
*/

/*
hyphens: auto;
-webkit-hyphens: auto;
-ms-hyphens: auto;
*/

/*
h2:not(.italic):hover{
  font-weight: 600;
}
h2.italic:hover{
  font-weight: 500;
}
h2.bold{
  font-weight: 600;
}
h2.click:hover {
  font-weight:500;
}
*/

/*
h3.link:hover {
  color:var(--color-powder);
}
*/

/*
h4.click:hover {
  font-weight:400;
}
*/

/*
h5.link{
  cursor:pointer;
}
*/

/*
@font-face {
  font-family: 'Plantin Bold';
  src: url('../assets/fonts/PlantinStd-Bold.woff2') format('woff2'),
       url('../assets/fonts/PlantinStd-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*/